/* --- Response Box Layout --- */
#response-box {
    position: absolute;
    bottom: 20px;
    left: 20px;;
    right: auto;
    width: 500px; 
    height: 350px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 229, 255, 0.3);
    border-radius: 10px;
    color: white;
    padding: 15px;
    font-size: 14px;
    overflow-y: auto;
    opacity: 1; 
    z-index: 10; 
}